@font-face {
	font-family: comfortaa;
	src: url("Comfortaa-Light.ttf");
}

html, body{
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
}

p{
	font-family: comfortaa;
	color: white;

	margin: 0;
	padding: 0;
	border: 0;
}

svg{
	fill: white;
}

.vignette{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	background: radial-gradient(circle, transparent 50%, black 800%);
}

.song{
	position: absolute;
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
	height: 30px;
}

.time{
	position: absolute;
	font-size: 15px;
	margin-left: 15px;
	margin-top: 45px;
	height: 20px;
}

.menu{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 100%;
	line-height: 60px;

	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-duration: .4s;
}

.button{
	float: left;
	height: 60px;
	width: 60px;
	text-align: center;
	cursor: pointer;
}

.openfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}

.playpause{
	position: absolute;
	left: calc(50vw - 30px);
}

.nextsong{
	position: absolute;
	left: calc(50vw + 30px);
}

.prevsong{
	position: absolute;
	left: calc(50vw - 90px);
}

.git{
	position: absolute;
	right: 0;
}

.gitsymbol{
	display: inline-block;
	height: 35px;
	width: 35px;

	background-image: url("gitlogo.png");
	background-size: cover;
}

.symbol{
	position: absolute;
	top: 50%;
	bottom: 50%;
	transform: translate(-50%, -50%);
}

.hiding{
	animation-name: hide;
}

.showing{
	animation-name: show;
}

.c{
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 0;
	padding: 0;

	width: 100vw;
	height: 100vh;

	pointer-events: none;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

@keyframes hide{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}

@keyframes show{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
